* {
border: 0;
margin: 0;
}

@font-face {
    font-family: 'soriasoria';
    src: url('https://laiflux.github.io/font-like/soria-font-webfont.woff2') format('woff2'),
         url('https://laiflux.github.io/font-like/soria-font-webfont.woff') format('woff'),
         url('https://laiflux.github.io/font-like/soria-font-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
        font-family: 'soriasoria';

    }

h1 {
        font-size: 12vh;
        text-align: center;
        background-color: #2a2a2a;
        color: whitesmoke;
    }

.haiku {
    background-image: url(purpleish.png);
    background-size:cover;
    border:none;
    background-repeat:no-repeat;
        min-height: 100vh;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }   

p {
    display: flex;
        font-size: 6vh;
        text-align: center;
        font-variant-ligatures: normal;
        text-shadow: 1px 1px 15px #370b5bd6, 1px 1px 20px #370b5bd6;
        color: #ead1ff88;

    }

p.large {
    font-size: 12vh;
}

@media (min-width: 421px) and (max-width: 1000px) {
h1 {
    font-size: 6vh;
}

p {
    font-size: 3vh;
}

p.large {
    font-size: 6vh;
}
}

@media (max-width: 420px) {
h1 {
    font-size: 3vh;
}

p {
    font-size: 1.5vh;
}
p.large {
    font-size: 3vh;
}   
}